<%- include("../partials/header") %>
<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div style="width: 25%; margin: 20px auto;">
            <div class="thumbnail">
                <div class="caption">
                    <h4><%=campground.name%></h4>
                </div>
                <img class="" src="<%=campground.image%>">
                <p><%=campground.description%></p>
                <div class="form-group">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add New Comment</a>
                </div>
                <div class="form-group">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit</a>
                </div>
                <div class="form-group"></div>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" id="delete" method="POST">
                    <button type="button"  class="btn btn-danger">Delete</button>
                </form>
                <div class="form-group"></div>
                <a class="btn btn-info" href="/campgrounds" role="button">Back</a>
            </div>
        </div>

    </div>
    <!-- </div> -->
</div>
</div>
</div>
<%- include("../partials/footer") %>